body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin: 0;
  padding: 0;
}

.content_wrapper {
  display: flex;
  flex-direction: row;
}

.side_bar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #141b22;
}

.side_bar > button {
  padding: 0;
  margin: 0;
  margin-bottom: 2px;
  height: 75px;
  width: 75px;
  font-size: small;
  text-align: center;
}

.intro_page,
.character_creation,
.character_overview,
.character_view {
  display: flex;
  justify-content: center;
  width: 100%;
}
.intro_page_wrapper,
.character_creation_wrapper,
.character_overview_wrapper,
.character_view_wrapper {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.intro_page_wrapper {
  width: 740px;
}

.intro_page_wrapper > p,
.character_creation_wrapper > p,
.character_overview_wrapper > p,
.character_view_wrapper > p {
  margin-top: -5px;
  margin-bottom: 50px;
}

.form_container {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}

.form_wrapper {
  margin-right: 20px;
}

.wrapper, .form_wrapper, .subrace_wrapper, .character_view_wrapper {
  display: flex;
  flex-direction: column;
}

.character_wrapper {
  width: 375px;
  margin-right: 20px;
}

.flex_wrapper {
  display: flex;
  flex-direction: row;
  width: 360px;
  justify-content: space-between;
}

label {
  font-weight: 600;
}

select, input {
  width: 175px;
  height: 50px;
  padding-left: 10px;
  margin: 0;
  margin-bottom: 10px;
  border-width: 1px;
  border-color: #2c3e50;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

select#continent, input#name, input#view_name, input#view_continent {
  width: 360px;
}

#description, #view_description {
  width: 360px;
  height: 100%;
  margin: 0;
  margin-bottom: 10px;
  border-width: 1px;
  padding: 10px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
}

.button_wrapper {
  display: flex;
  justify-content: end;
}

button {
  width: 200px;
  height: 50px;
  font-size: medium;
  font-weight: 600;
  color: whitesmoke;
  background-color: #3d556d;
  border: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.table_button {
  height: 25px;
  width: 100px;
  font-size: small;
}

.export_button {
  display: inline-block;
  margin-left: 10px;
  height: 25px;
  width: 25px;
  font-size: small;
}

button:hover {
  cursor: pointer;
  background-color: #2c3e50;
}

button:active {
  background-color: #1e2a36;
}

table {
  border-spacing: 10px 15px;
  margin-bottom: 50px;
}

th {
  text-align: start;
  border-spacing: 10px;
}

.character_overview_wrapper > .button_wrapper {
  justify-content: center;
}

.clear_button_wrapper {
  display: flex;
  justify-content: center;
}

#clear_local_storage_button {
  margin-top: 50px;
  height: 40px;
  background-color: rgb(90, 35, 35);
  font-size: small;
}

#clear_local_storage_button, #create_another_character_button, #export_character_button {
  margin-bottom: 50px;
}

#clear_local_storage_button:hover {
  background-color: rgb(133, 36, 36);
}

#clear_local_storage_button:active {
  background-color: rgb(68, 11, 11);
}

#export_character_button {
  margin-top: 50px;
  height: 40px;
  background-color: rgb(91, 104, 138);
  font-size: small;
}

#export_character_button:hover {
  background-color: rgb(122, 137, 177);
}

#export_character_button:active {
  background-color: rgb(66, 75, 102);
}

@media (max-width: 850px) {

  .content_wrapper {
    flex-direction: column;
  }
  
  .side_bar {
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    background-color: #141b22;
  }

  .side_bar > button {
    padding: 0;
    margin: 0;
    height: 50px;
    width: 33%;
    text-align: center;
  }

  .intro_page_wrapper,
  .character_creation_wrapper,
  .character_overview_wrapper,
  .character_view_wrapper {
    width: 360px;
  }

  .form_container {
    display: flex;
    flex-direction: column;
  }

  .form_wrapper {
    margin-right: 0;
  }

  .button_wrapper, .clear_button_wrapper {
    display: flex;
    justify-content: center;
  }

  #description, #view_description {
    height: 180px;
    width: 360px;
  }

  .table_button {
    height: 25px;
    width: 60px;
    font-size: smaller;
  }

  .export_button {
    display: none;
  }
}

/* https://www.geeksforgeeks.org/how-to-make-input-and-select-elements-to-be-same-width/ */